atproto==0.0.62
beautifulsoup4==4.13.5
deep-translator==1.11.4
fastapi==0.116.1
feedparser==6.0.12
google-genai==1.0.0
joblib==1.4.2
pymongo==4.10.0
pillow==10.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
regex==2024.11.6
requests==2.32.3
scikit-learn==1.5.2
uvicorn[standard]==0.34.0
yt-dlp==2024.12.23
